<div class="content">

  <h2>Edit Book</h2>

  <h3>Original Pricing: </h3>
  <br>
 <b>Buy Price: </b>
  £ <%= '%.2f' % (@book.buy_price) %>
  <b>Sell Price:</b>
  £ <%= '%.2f' % (@book.sell_price) %>
  <br>
  <br>

  <form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="title">Title:</label>
    <input type="text" name="title" value="<%= @book.title %>" id="title">

    <label for="buy_price">Buy Price:</label>
    <input type="number" step="any" name="buy_price" value="<%= @book.buy_price %>" id="buy_price">

    <label for="sell_price">Sell Price:</label>
    <input type="number" step="any" name="sell_price" value="<%= @book.sell_price %>" id="sell_price">

    <select name="author_id">
    <% @authors.each do |author| %>
    <option value="<%= author.id %>" <%= 'selected' if @book.author.id == author.id %>><%= author.name %></option>
    <% end %>
  </select>

  <input type='submit' value="Update Book">
</form>


</div>