<h2>Book list</h2>


<% if @books.count > 0 %>
<ul>
  <% @books.each do |book| %>
  <li>
    <a href="/books/<%= book.id %>"><%= book.title %></a> by <%= book.author.name %>
    <br>
    <b>Buy Price:</b>
    
    £ <%= '%.2f' % (book.buy_price) %>
    <b>Sell Price:</b>
    £ <%= '%.2f' % (book.sell_price) %>
    <b>Markup: </b><%= book.mark_up_percent %>%
  </li>
  <br>
  <% end %>
</ul>
<% else %>
<p> Please add a book! </p>

<% end %>

<a href="/stock/new">Next -- Add stock</a>
<br>
<br>
<a href="/home">Back -- Home</a>
<br>
<br>
<a href="/books/new">Or Add a Book</a>

