<div class="content">

  <h2>Edit Stock</h2>

  <%= @stock.book.title %> by <%= @stock.book.author.name %>

  <br>
  <br>
  <form action="/stock/<%= @stock.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <input type="hidden" name="book_id" value="<%= @stock.book.id %>">

    <input type="hidden" name="author_id" value="<%= @stock.book.author.id %>">


    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" value="<%= @stock.quantity %>">
    <br>
    <br>
    <input type='submit' value="Update Stock">
  </form>


</div>