<div class="content">

  <h2>Edit Stock</h2>
  <br>
  <b>Book:</b> <%= @stock.book.title %>
  <br>

  <b>Author:</b> <%= @stock.book.author.name %>

  <br>
  <br>
  <form action="/stock/<%= @stock.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <input type="hidden" name="book_id" value="<%= @stock.book.id %>">

    <input type="hidden" name="author_id" value="<%= @stock.book.author.id %>">
    <br>

    <label for="quantity">Quantity:</label>
    <input type="number" min="0" name="quantity" value="<%= @stock.quantity %>" id="quantity">
    <br>
    <br>
    <input type='submit' value="Update Stock">
  </form>


</div>