<h2>Stock List</h2>

<% if @stock.count > 0 %>
  <ul>
  <% @stock.each do |stock| %>
  <li>
  <%= stock.quantity %> X <%= stock.book.title %> by <%= stock.book.author.name %>
<br>
<% if stock.quantity >= 10 %>

<%= "High Level of Stock" %>

<% elsif stock.quantity > 5 %>

<%= "Medium Level of Stock" %>

<% else stock.quantity < 5 %>

<%= "Low Level of Stock" %>

<% end %>


  <br>
  <a href="/stock/<%= stock.id %>">Update/delete Stock Levels </a>
  <br>
  <br>
  </li>
  <% end %>
  </ul>
  <% else %>
  <p> Please add stock! </p>
  <% end %>