<h2>Stock id: <%= @stock.id %> </h2>
<p>*Disclaimer: gross profit does not take into account overheads </p>

<h3><%= @stock.book.title %> by <%= @stock.book.author.name %></h3>
<br>
<table style="width:75%">
  <tr>
    <th>Quantity</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Mark-up</th>
  </tr>
  <tr>
    <td><%= @stock.quantity %></td>
    <td>£ <%= '%.2f' % (@stock.book.buy_price) %></td>
    <td>£ <%= '%.2f' % (@stock.book.sell_price) %></td>
    <td>£ <%= '%.2f' % (@stock.book.gross_profit) %> // <%= @stock.book.mark_up_percent %>%</td>
  </tr>
</table>


<a href="/stock/<%= @stock.id %>/edit">Edit Stock</a>
<br>
<br>
<a href="/stock">Go back to Inventory page</a>
<br>
<br>

<form action="/stock/<%= @stock.id %>" method="post">

  <input type="hidden" name="_method" value="delete">

  <form action="/stock/<%= @stock.id %>/delete" method="post">

    <input type="submit" value="Delete">
  </form>